/* styles.css */

body {
    display: block;
    margin: 0;
    font-family: Arial, sans-serif;
    font-weight: 400;
    line-height: 24px;
    background-color: rgb(245, 245, 247);
    /* background-color: yellow; */
    overflow: visible;
    cursor: default;
    font-stretch: 100%;
    tab-size: 4;
    text-size-adjust: 100%;
    touch-action: auto;
}

/* 헤더 스타일 지정~ */

.feedback_nav {
    display: flex;
    position: fixed;
    bottom: 16px;
    left: 16px;
    z-index: 99;
    cursor: pointer;
    align-items: center;
}

.feedback_nav a {
    display: flex;
    position: relative;
    z-index: 1;
    width: 72px;
    height: 72px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(floating_head.webp);
    background-position: center;
    background-size: cover;
    transition: all 0.25s ease-in-out 0s;
}

.feedback_nav .speech-bubble {
    display: none;
	position: relative;
    bottom: 4px;
    left: 12px;
    z-index: 0;
    padding: 8px 12px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 1em;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 20px;
    opacity: 0;
    transition: opacity 0.1s ease-out 0s;
    backdrop-filter: blur(20px);
}

.feedback_nav .speech-bubble:after {
	position: absolute;
	top: 50%;
	left: 0;
	width: 0;
	height: 0;
	margin-top: -6px;
	margin-left: -6px;
	border: 6px solid transparent;
	content: '';
	border-right-color: rgba(0, 0, 0, 0.7);
	border-left: 0;
}

@keyframes glow {
    0% {
        background-image: url(floating_head.webp);
    }
    33% {
        background-image: url(floating_head_ambient.webp);
    }
    66% {
        background-image: url(floating_head_ambient.webp);
    }
    100% {
        background-image: url(floating_head.webp);
    }
}

.feedback_nav a:hover {
    background-image: url(floating_head_ambient.webp);
    animation: 2s ease-in-out 0s infinite normal none running glow;
    transform: translateX(8px) translateY(-8px) scale(1.2) rotate(360deg);
}

.feedback_nav a:hover + .speech-bubble {
    display: block;
    animation: 2s ease-in-out infinite normal none running float, 2s ease-in-out 0s 1 normal forwards running fade-in;
}

@keyframes fade-in {
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes float {
    50% {
        transform: translateY(-12px);
    }
}

.header {
    display: block;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.72);
    box-shadow: rgb(234, 234, 236) 0px 1px 0px 0px;
}

.header::before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    content: "";
    backdrop-filter: saturate(1.8) blur(20px) brightness(1);
}

.top {
    display: flex;
    position: relative;
    width: auto;
    max-width: 1280px;
    height: 52px;
    min-height: 48px;
    margin: auto;
    padding: 0 16px;
    justify-content: space-between;
    tab-size: 4;
    text-size-adjust: 100%;
    align-items: center;
}

.top .nav-left {
    display: flex;
    width: 100%;
    align-items: center;
}

.site-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.site-logo a {
    display: flex;
    padding-bottom: 4px;
    align-items: center;
}

.site-logo img {
    max-width: 100%;
    max-height: 28px;
    align-self: center;
    overflow-x: clip;
    overflow-y: clip;
}

.site-logo a .site-logo-large {
    display: block;
    margin-top: 2px;
}

.site-logo a .site-logo-small {
    display: none;
    padding-left: 2px;
}


.search-tool {
    width: 100%;
}

.search-tool .tool-wrap {
    position: relative;
    max-width: 192px;
    margin-left: 1.5rem;
    transition: all 0.1s ease-out 0s;
}

.search-tool .tool-wrap .search-bar {
    display: flex;
    padding: 6px 12px 6px 8px;
    background-color: rgb(245, 245, 247);
    border: 1px solid rgb(245, 245, 247);
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
}

.search-tool .search-bar i {
    margin-right: 4px;
    color: rgb(142, 142, 142);
}

.search-tool .search-bar input {
    width: 100%;
    color: rgb(142, 142, 142);
    font-size: 13px;
    line-height: 14.3px;
    background-color: transparent;
    border-color: transparent;
}

.search-tool .search-bar input#search-type:focus {
    color: black;
    outline: none;
}

.tool-wrap.extend {
    max-width: 96%!important;
}

.search-bar.extend {
    background-color: white!important;
    box-shadow: rgba(109, 85, 255, 0.4) 0px 0px 0px 3px!important;
}

.quick-menu-link.hide {
    display: none!important;
}

.tool-wrap .extend-tool-wrap {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 37px;
    left: 0px;
    z-index: 2;
    width: 100%;
    max-height: calc(-13rem + 100vh);
    padding: 14px 14px 8px 14px;
    background-color: rgba(245, 245, 247, 0.72);
    border: 1px solid rgb(224, 224, 224);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
    backdrop-filter: saturate(1.8) blur(20px);
}

.tool-wrap .extend-tool-wrap.extend {
    display: flex;
}

.tool-wrap .extend-tool-wrap .text-holder {
    z-index: 1;
    width: 100%;
    color: rgb(142, 142, 142);
    font-size: 14px;
    line-height: 16.8px;
    text-align: center;
    margin-block: 16px;
    word-break: keep-all;
}

.tool-wrap .extend-tool-wrap .text-holder.searching {
    display: none;
}

.tool-wrap .extend-tool-wrap .searching-icon {
    display: none;
    z-index: 1;
    width: 100%;
    color: black;
    font-size: 21px;
    line-height: 42px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tool-wrap .extend-tool-wrap .searching-icon i {
    animation: infiniteSpin 1.5s ease-in-out 1s infinite;
}

.tool-wrap .extend-tool-wrap .searching-icon.searching {
    display: block;
}

@keyframes infiniteSpin {
    0% {
        -webkit-animation-timing-function: cubic-bezier(.55,.055,.675,.19);
        animation-timing-function: cubic-bezier(.55,.055,.675,.19);
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    50% {
        -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
        animation-timing-function: cubic-bezier(.215,.61,.355,1);
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }

    to {
        -webkit-transform: rotate(2turn);
        transform: rotate(2turn)
    }
}


.quick-menu {
    display: flex;
    /* min-width: 404.02px; */
}

.quick-menu .quick-menu-toggle {
    display: none;
    flex-direction: column;
    width: 32px;
    height: 32px;
    margin-left: 4px;
    color: rgb(164, 164, 166);
    font-size: 16px;
    text-align: center;
    background-color: transparent;
    border: 0px;
    border-radius: 320px;
    align-items: center;
    justify-content: center;
}

.quick-menu .quick-menu-toggle:hover {
    background-color: rgb(246, 246, 248);
}

.quick-menu .quick-menu-list {
    display: flex;
    align-items: center;
}

.quick-menu-list .quick-menu-link {
    display: flex;
    flex-direction: row;
    margin-right: 8px;
    font-size: 13px;
    transition: all 0.1 ease-out 0s;
}

.quick-menu-link div {
    white-space: nowrap;
}

.quick-menu-link>div {
    margin-right: 0px;
    margin-left: 16px;
    padding: 16px 0px 15px 0px;
    color: rgb(112, 112, 112);
    line-height: 20.797px;
    text-decoration: none rgb(112, 112, 112) auto;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.quick-menu-link>div:hover {
    color: rgb(109, 85, 255);
    border-bottom-color: rgb(109, 85, 255);
    text-decoration-color: rgb(109, 85, 255);
}

.quick-menu-link .label {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    gap: 2px;
}

.quick-menu-link .label i {
    display: none;
    width: 24px;
    height: 24px;
    margin-right: 4px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 13px;
    line-height: 24px;
    text-align: center;
}

.quick-menu-link .site-info {
    display: flex; 
    flex-direction: column;
    position: relative;
    align-items: center;
}

.site-info:hover .site-info-list {
    display: flex;
}

.site-info .site-info-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 2px);
    /* left: -32px; */
    width: fit-content;
    padding: 4px;
    box-sizing: content-box;
    line-height: 20.8px;
    background-color: rgba(255, 255, 255, 0.72);
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 12px;
    transition: all 0.1s ease-out 0s;
    backdrop-filter: saturate(180%) blur(20px) brightness(1.1);
    white-space: nowrap;
}

.site-info-list .site-info-link:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.site-info-list .site-info-link {
    display: flex;
    padding: 6px 8px;
    color: rgb(142, 142, 142);
    font-size: 13px;
    line-height: 15.6px;
    text-decoration: none rgb(142, 142, 142) auto;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s ease-out 0s;
    /* align-items: center; */
}

.quick-menu-seperator {
    display: flex;
    width: 1px;
    height: 16px;
    margin: 0px 1rem;
    background-color: rgb(234, 234, 236);
}

.quick-menu-button {
    display: flex;
    flex-direction: row;
}

.quick-menu-button * {
    font-size: 13px;
    white-space: nowrap;
}

.login-button {
    margin-left: 8px;
}

.signup-button:hover {
    color: rgb(109, 85, 255);
    background-color: rgba(109, 85, 255, 0);
    box-shadow: rgba(109, 85, 255, 0.4) 0px 0px 0px 3px;
}

.signup-button {
    margin-left: 8px;
    color: white;
    background-color: rgb(109, 85, 255);
    border: 1px solid rgb(109, 85, 255);
}

/* ~~헤더 스타일 지정 */











/* 메인 스타일~~ */

.main {
    display: grid;
    position: relative;
    z-index: 0;
    width: auto;
    max-width: 1280px;
    height: auto;
    margin: auto;
    padding: 8px 16px;
    line-height: 24px;
    column-gap: 64px;
    grid-template-columns: 2.5fr 7fr 3fr;
}



.left {
    display: block;
    position: relative;
    height: 100%;
}

.left-menu {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 92px;
    margin-top: 32px;
    margin-bottom: 24px;
    column-gap: 32px;
    row-gap: 32px;
}

.left-menu-out {
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    align-items: center;
}

.left-menu-in {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(255, 255, 255);
    column-gap: 8px;
    row-gap: 8px;
}

.left-menu-toggle {
    display: flex;
    font-size: 13px;
    cursor: pointer;
    align-items: center;
    column-gap: 4px;
    column-gap: 4px;
    row-gap: 4px;
}

.left-menu-toggle i {
    width: 24px;
    height: 24px;
    color: rgb(0, 0, 42);
    line-height: 24px;
    text-align: center;
    transform: rotate(90deg);
}

.left-menu-toggle.hide i {
    animation: 0.2s ease rotate2 both;
}

.left-menu-toggle.show i {
    animation: 0.2s ease rotate both;
}


.left-menu-shutter {
    display: flex;
    position: relative;
    width: 100%;
    opacity: 1;
    transition: all 0.1s ease-out 0s;
    transform-origin: center top;
}

.left-menu.show .left-menu-shutter {
    display: none;
}

.left-menu-list-cover {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-bottom: 8px;
    align-items: center;
}

.left-menu-list {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 4px;
    width: calc(100% + 8px);
    height: 100%;
    max-height: 400px;
    transition: all 0.1s ease-in-out 0s;
    column-gap: 2px;
    overflow-x: auto;
    overflow-y: visible;
    row-gap: 2px;
}

.left-menu-list:hover::-webkit-scrollbar-thumb {
    background-color: rgb(234, 234, 236);
}

.left-menu-list::-webkit-scrollbar {
    width: 6px;
    height: 0px;
    background-color: transparent;
}

.left-menu-list::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
    border-radius: 8px;
}

.left-menu-list::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 8px;
}

.left-menu-list .topic:hover {
    background-color: rgb(245, 245, 247);
}

.topic {
    display: flex;
    position: relative;
    width: calc(100% - 2px);
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    color: rgb(68, 68, 68);
    font-size: 12px;
    line-height: 12px;
    letter-spacing: normal;
    text-align: left;
    background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 10px;
    align-items: flex-start;
    column-gap: 8px;
    row-gap: 8px;
}

.left-menu-list .overlay {
    display: block;
    position: absolute;
    bottom: -4px;
    width: 100%;
    height: 14px;
    background-attachment: scroll;
}



.center {
    display: block;
    position: relative;
    width: 100%;
    min-width: 478px;
    margin-top: 32px;
}

.center-post {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 24px;
    gap: 6px;
}

.center-post .post-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
}

.center-post .user-icon {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 1px;
    background-color: black;
    border: 10px solid rgb(238, 238, 255);
    border-radius: 20px;
}

.center-post .user-icon .fa-face-smile {
    position: relative;
    top: -12px;
    left: -11px;
    padding: 6px;
    color: rgb(238, 238, 255);
    font-size: 28px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0);
}

.center-post .open-post {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 4px;
    color: rgb(142, 142, 142);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    transition: all 0.15s ease-in-out 0s;
    align-items: center;
}

.center-post .open-post:hover {
    background-color: white;
    border-color: rgb(109, 85, 255);
    box-shadow: rgba(109, 85, 255, 0.4) 0px 0px 0px 3px;
}

.center-post .open-post i {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    line-height: 24px;
}

.center-post .open-post label {
    font-size: 13px;
}

.center-post .open-post * {
    cursor: pointer;
}

.center-post .share {
    position: relative;
    top: -4px;
    left: 52px;
    width: fit-content;
    padding: 4px 8px 4px 4px;
    color: rgb(142, 142, 142);
    font-size: 12px;
    border: 0px;
    border-radius: 8px;
}

.center-post .share i {
    margin-right: 2px;
    font-size: 12px;
    line-height: 16px;
}

.center-post .share:hover {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 8px 0px;
    transform: matrix(1, 0, 0, 1, 0, -1);
}

.center .box-trending_product {
    display: none;
    flex-direction: column;
    margin-bottom: 24px;
}

.center .box-trending_product .tp-main {
    height: 44px;
    padding: 0 4px;
    overflow: hidden;
}

.center .box-trending_product .tp-main .product-slide {
    display: flex;
    flex-direction: column;
    animation: slide 15s linear infinite;
}

.center .box-trending_product .tp-main .product-slide .goto-product {
    flex: 0 0 36px;
}

@keyframes slide {
    0% {
        transform: translateY(0);
    }
    16% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-44px);
    }
    36% {
        transform: translateY(-44px);
    }
    40% {
        transform: translateY(-88px);
    }
    56% {
        transform: translateY(-88px);
    }
    60% {
        transform: translateY(-132px);
    }
    76% {
        transform: translateY(-132px);
    }
    80% {
        transform: translateY(-176px);
    }
    96% {
        transform: translateY(-176px);
    }
    100% {
        transform: translateY(-220px);
    }
}

.center .box-trending_product .goto-product:hover {
    background-color: transparent;
}

.center .box-trending_product .goto-product .tagline {
    display: block;
    align-items: center;
}

.center-tab {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.center-tab .tab-wrap {
    display: flex;
    justify-content: space-between;
}

.center-tab .tab-wrap .category {
    display: flex;
    gap: 24px;
}

.center-tab .tab-wrap .category label {
    padding: 12px 0px 10px 0px;
    box-sizing: content-box;
    color: rgb(142, 142, 142);
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.center-tab .tab-wrap .category label:hover {
    z-index: 1;
    color: rgb(109, 85, 255);
    border-bottom-color: rgb(109, 85, 255);
}

.center-tab .tab-wrap .sort {
    display: flex;
}

.center-tab .sort button {
    padding: 0;
    background-color: transparent;
    border: 0px;
}

.center-tab .sort button label {
    padding: 4px 6px 4px 6px;
    color: rgb(142, 142, 142);
    font-size: 12px;
    line-height: 13.2px;
    border-radius: 6px;
    cursor: pointer;
}

.center-tab .sort button label:hover {
    background-color: white;
}

.center-tab .seperator {
    position: absolute;
    bottom: 1px;
    z-index: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(234, 234, 236);
}



.center-contents {
    display: block;
}


.center-contents .contents-wrap {
    width: 100%;
    margin: 32px 0px;
}

.contents-wrap .content-box {
    position: relative;
}

.content-box .content-header {
    display: flex;
    justify-content: space-between;
}

.content-header .info-wrap {
    display: flex;
    width: 100%;
}

.info-wrap .user-icon {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 1px 9px 1px 1px;
    background-color: black;
    border: 10px solid rgb(238, 238, 255);
    border-radius: 20px;
}
    
.info-wrap .user-icon .fa-face-smile {
    position: relative;
    top: -12px;
    left: -11px;
    padding: 6px;
    color: rgb(238, 238, 255);
    font-size: 28px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0);
}


.content-header .content-introduce {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    padding-top: 2px;
    color: rgb(112, 112, 112);
    font-size: 14px;
    line-height: 18.2px;

}

.content-introduce .content-info {
    display: flex;
    line-height: 19.6px;
}

.content-info a {
    margin-right: 2px;
    color: black;
    text-decoration: none;
}

.content-info .category {
    color: rgb(27, 206, 107);
}

.content-introduce .user-info {
    display: flex;
    min-width: 0px;
    margin-top: 2px;
    color: rgb(142, 142, 142);
    font-size: 12px;
}

.user-info .user-info-task {
    color: rgb(0, 0, 0, 0.4);
    text-decoration: none;
}

.user-info .user-info-association {
    color: rgb(0, 0, 0, 0.4);
    text-decoration: none;
}

.user-info .devider {
    margin-right: 6px;
    margin-left: 3px;
}

.content-header .deny-wrap {
    width: fit-content;
    height: fit-content;
    margin-top: 2px;
    border: 3px solid transparent;
    border-radius: 9999px;
    transition: all 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.content-header .deny-wrap:hover {
    border-color: rgb(209, 185, 255);
}

.deny-wrap .deny {
    display: flex;
    width: 19.25px !important;
    height: 20px !important;
    padding: 0;
    box-sizing: content-box;
    color: rgb(142, 142, 142);
    font-size: 16px;
    line-height: 24px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid transparent;
    border-radius: 9999px;
    transition: all 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
    align-items: center;
}

.deny-wrap:hover .deny {
    color: rgb(109, 85, 255);
    background-color: rgb(255, 255, 255);
    border-color: rgb(109, 85, 255);
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
}

.deny-wrap-wrap {
    display: flex;
    width: 22px;
    height: 21.25px;
    justify-content: center;
    align-items: center;
}

.deny i {
    width: 16px;
    line-height: 24px;
}

.deny .fa-face-smile {
    width: 8px;
}


.content-box .inner-content-wrap {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 50px;
    margin-left: 32px;
}

.inner-content-wrap .inner-content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 20px 20px 16px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    transition: all 0.1 ease-out 0s;
    gap: 8px;
}

.inner-content-wrap .inner-content:hover {
    background-color: rgb(253, 253, 255);
    box-shadow: rgba(0, 0, 0, 0.08) 6px 8px 16px 0px;
    transform: matrix(1, 0, 0, 1, 0, -2);
}

.inner-content .card-gap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 4px;
}

.inner-content .content-main {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    column-gap: 8px;
}

.content-main .content-head {
    width: 100%;
    margin-bottom: 10px;
}

.content-head .title {
    margin: 0;
    line-height: 28.8px;
}

.content-main .content-body {
    position: relative;
    width: 100%;
    height: 288px;
    margin-bottom: 8px;
    overflow-y: hidden;
}

.content-body .effect {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 88px;
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%,
     rgba(255, 255, 255, 0.5) 50%, rgb(255, 255, 255) 100%);
    opacity: 1;
}

.content-main .show-more {
    width: 100%;
    color: rgba(0, 0, 0, 0.3);
    font-size: 13px;
    line-height: 19.5px;
    text-align: right;
    background-color: rgba(0, 0, 0, 0);
    align-items: flex-start;
}

.inner-content .feed {
    height: 42px;
    margin-top: 10px;
}

.inner-content .content-attach {
    display: flex;
    width: calc(100% + 8px);
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4px;
}

.content-attach>div {
    position: relative;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
}

.content-attach>div i:hover + .speech-bubble {
    opacity: 1;
}


.content-attach>div .speech-bubble {
	position: absolute;
    top: 34px;
    z-index: 0;
    padding: 8px 12px;
    color: rgb(255, 255, 255);
    font-size: 11px;
    line-height: 1em;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 0.4em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 20px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    backdrop-filter: blur(20px);
    white-space: nowrap;
}

.content-attach>div .speech-bubble:after {
	position: absolute;
	top: 0;
    left: 50%;
	width: 0;
	height: 0;
	margin-top: -6px;
	margin-left: -6px;
	border: 6px solid transparent;
	content: '';
	border-bottom-color: rgba(0, 0, 0, 0.7);
	border-top: 0;
}

.content-attach .user-comment:hover {
    background-color: rgba(143, 143, 143, 0.1);
}

.content-attach .user-comment {
    display: flex;
    position: relative;
    height: 28px;
    max-height: 28px;
    color: rgb(172, 172, 172);
    font-size: 14px;
    line-height: 14px;
    outline: 2px solid rgba(0, 0, 0, 0) !important;
    align-items: center;
    flex-basis: 0%;
    flex-grow: 0.5;
    flex-shrink: 1;
    justify-content: center;
    outline-offset: 2px !important;
}

.user-comment i {
    margin-right: 4px;
}
.user-comment .fa-message {
    color: rgb(172, 172, 172);
    font-size: 14px;
}

.content-attach .user-react:hover {
    background-color: rgba(229, 57, 127, 0.1);
}

.content-attach .user-react {
    display: flex;
    position: relative;
    height: 28px;
    max-height: 28px;
    color: rgb(172, 172, 172);
    font-size: 14px;
    line-height: 24px;
    border-radius: 8px;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
}

.user-react .fa-face-smile {
    width: 22px;
    height: 22px;
    color: rgb(172, 172, 172);
    font-size: 15.71px;
    line-height: 24px;
    align-items: center;
    justify-content: center;
}

.user-react .headcount {
    font-size: 14px;
    line-height: 16.8px;
}

.content-attach .user-upvote:hover {
    background-color: rgba(27, 206, 107, 0.1);
}

.content-attach .user-upvote {
    display: flex;
    position: relative;
    height: 28px;
    max-height: 28px;
    color: rgb(172, 172, 172);
    font-size: 14px;
    line-height: 24px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    outline: 2px solid rgba(0, 0, 0, 0) !important;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    outline-offset: 2px !important;
}

.user-upvote .fa-circle-arrow-up {
    width: 24px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
}

.content-attach .clicks {
    display: flex;
    position: relative;
    height: 28px;
    max-height: 28px;
    color: rgb(172, 172, 172);
    font-size: 14px;
    line-height: 14px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    outline: 2px solid rgba(0, 0, 0, 0) !important;
    flex-basis: 0%;
    flex-grow: 0.75;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    outline-offset: 2px !important;
    gap: 4px;
}

.clicks .arrow-pointer {
    width: 24px;
    height: 24px;
    line-height: 24px;
}


.content-post {
    height: 400px;
}



.right {
    display: block;
    min-width: 246px;
    height: 100%;
    margin-top: 32px;
}

.right .right-boxes-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    gap: 8px;
}

.right-boxes-wrapper .box-ad_banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 24px;

}

.box-ad_banner .ad_banner-wrapper {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 12px;
    background-color: rgb(255, 255, 255);
    background-image: url(ad_banner-image-1.png);
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    overflow: hidden;
}

.ad_banner-wrapper .banner-image {
    display: flex;
    position: relative;
    width: 100%;
    padding-top: 60%;
    padding-bottom: 8px;
    align-items: flex-start;
    justify-content: center;
}

.ad_banner-wrapper .banner-link {
    display: flex;
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 4px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 12px;
    text-decoration: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 1px solid rgba(109, 85, 255, 0.1);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
    align-items: center;
    justify-content: center;
    text-decoration-line: none;
    backdrop-filter: blur(8px);
    gap: 4px;
}

.banner-link .fa-arrow-right {
    position: relative;
    left: 0%;
    width: 16px;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    transition: all 0.1s ease-out 0s;
}

.banner-link:hover .fa-arrow-right {
    left: 5%;
}


.right-boxes-wrapper .box-trending_product {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.box-trending_product .tp-header {
    display: flex;
    position: relative;
    margin-bottom: 14px;
    justify-content: space-between;
    align-items: center;
}

.tp-header .title {
    margin-right: 6px;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
}

/* .tp-header i {
    width: 14px;
    height: 14px;
    color: rgb(142, 142, 142);
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    justify-items: center;
    vertical-align: middle;
} */

.tp-header svg {
    fill: rgb(142, 142, 142);
}

.tp-header svg:hover + .speech-bubble {
    opacity: 1;
    transition: all 0.2s ease-in 0s;
}


.tp-header .speech-bubble {
	position: absolute;
    top: 22px;
    right: -6.5px;
    z-index: 1;
    padding: 8px 12px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 1em;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 0.4em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 20px;
    opacity: 0;
    backdrop-filter: blur(20px);
}

.tp-header .speech-bubble:after {
	position: absolute;
	top: 0;
    right: 8px;
	width: 0;
	height: 0;
	margin-top: -6px;
	margin-left: -6px;
	border: 6px solid transparent;
	content: '';
	border-bottom-color: rgba(0, 0, 0, 0.7);
	border-top: 0;
}

.box-trending_product .tp-main {
    display: flex;
    flex-direction: column;
    padding: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 14px;

}

.tp-main .goto-product {
    display: flex;
    width: 100%;
    padding: 6px 8px 6px 8px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.1s ease-out 0s;
    align-items: center;
}

.tp-main .goto-product:hover {
    background-color: rgb(246, 246, 248);
}

.goto-product .rank {
    margin-right: 6px;
    color: rgb(142, 142, 142);
    font-size: 14px;
}

.goto-product .thumb {
    width: 32px;
    min-width: 32px;
    height: 32px;
    margin-right: 8px;
    background-size: cover;
    border-radius: 10px;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0 0 2px);
}

.goto-product .thumb.first {
    background-image: url('user_icon1.webp');
}

.goto-product .thumb.second {
    background-image: url('user_icon2.webp');
}

.goto-product .thumb.third {
    background-image: url('user_icon3.webp');
}

.goto-product .thumb.fourth {
    background-image: url('user_icon4.webp');
}

.goto-product .thumb.fifth {
    background-image: url('user_icon5.webp');
}

.goto-product .name {
    font-size: 13px;
    font-weight: 500;
    line-height: 15.6px;
    white-space: nowrap;

}

.goto-product .tagline {
    display: none;
    width: 100%;
    margin-left: 6px;
    color: rgb(142, 142, 142);
    font-size: 13px;
    line-height: 15.6px;
    overflow: hidden;
    white-space: nowrap;
}

.goto-product .new-tag {
    margin-left: 6px;
    color: rgb(255, 92, 0);
    font-size: 12px;
    white-space: nowrap;
}

.right-boxes-wrapper .box-newest_join_maker {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 14px;
}

.box-newest_join_maker .jm-header {
    display: flex;
    font-size: 13px;
    line-height: 13px;
    gap: 4px;
}

.jm-header .icon {
    font-size: 14px;
    line-height: 14px;
}

.jm-header .title {
    font-size: 13px;
}

.box-newest_join_maker .jm-main {
    display: flex;
    flex-direction: column;
    padding: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 14px;
    gap: 4px;
}

.jm-main .goto-user_info {
    display: flex;
    padding: 8px;
    border-radius: 12px;
    border-radius: 12px;
    justify-content: space-between;
    gap: 8px;
    transform: all 0.15s ease-in-out 0s;
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-line: none;
    align-items: center;
}

.jm-main .goto-user_info:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.goto-user_info .user_info-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
}

.user_info-wrapper .user_icon {
    position: relative;
    width: 32px;
    height: 32px;
    margin: 1px;
    background-color: black;
    border: 10px solid rgb(238, 238, 255);
    border-radius: 20px;
}

.user_info-wrapper .user_icon i {
    position: relative;
    top: -12px;
    left: -11px;
    padding: 6px;
    color: rgb(238, 238, 255);
    font-size: 20px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0);
}

.user_info-wrapper .user_profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.user_profile .user_name {
    color: black;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

.user_profile .user_role {
    color: rgb(142, 142, 142);
    font-size: 12px;
    line-height: 15.6px;
}

.goto-user_info .clap {
    display: flex;
    min-width: 24px;
    min-height: 24px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    background-color: rgb(241, 238, 252);
    border: 1px solid rgb(234, 234, 236);
    border-radius: 32px;
    transition: all 0.1s ease-out 0s;
    align-items: center;
    justify-content: center;
}

.goto-user_info .clap:hover {
    border-color: rgb(109, 85, 255);
    box-shadow: rgba(109, 85, 255, 0.4) 0px 0px 0px 3px;
}

.jm-main .show_more {
    margin: 6px;
    padding: 6px;
    color: rgb(109, 85, 255);
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    text-decoration: none rgb(109, 85, 255);
    background-color: rgb(240, 238, 255);
    border: 1px solid rgba(109, 85, 255, 0);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s ease-out 0s;
}

.jm-main .show_more:hover {
    box-shadow: rgba(109, 85, 255, 0.4) 0px 0px 0px 3px;
}


.right-boxes-wrapper .right-sticky-boxes {
    position: sticky;
    top: 92px;
}

.right-boxes-wrapper .box-trending_maker_log {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.box-trending_maker_log .tm_log-header {
    display: flex;
    margin-bottom: 14px;
    line-height: 16px;
    align-items: center;
    justify-content: space-between;
}

.tm_log-header .title {
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
}

/* .tm_log-header i {
    color: rgb(142, 142, 142);
    font-size: 14px;
} */

.tm_log-header svg {
    fill: rgb(142, 142, 142);
}

.tm_log-header svg:hover + .speech-bubble {
    opacity: 1;
    transition: all 0.2s ease-in 0s;
}


.tm_log-header .speech-bubble {
	position: absolute;
    top: 22px;
    right: -6.5px;
    z-index: 2;
    padding: 8px 12px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 1em;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 0.4em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 20px;
    opacity: 0;
    backdrop-filter: blur(20px);
}

.tm_log-header .speech-bubble:after {
	position: absolute;
	top: 0;
    right: 8px;
	width: 0;
	height: 0;
	margin-top: -6px;
	margin-left: -6px;
	border: 6px solid transparent;
	content: '';
	border-bottom-color: rgba(0, 0, 0, 0.7);
	border-top: 0;
}

.box-trending_maker_log .tm_log-main {
    display: flex;
    flex-direction: column;
    padding: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 14px;
}  

.tm_log-main .maker_log {
    display: flex;
    width: 100%;
    padding: 10px 8px;
    text-decoration: none rgb(0, 0, 0);
    border-radius: 12px;
    transition: all 0.1s ease-out 0s;
}

.tm_log-main .maker_log:hover {
    background-color: rgb(246, 246, 248);
}

.maker_log .rank {
    margin-right: 5px;
    padding-top: 2px;
    color: rgb(142, 142, 142);
    font-size: 14px;
    line-height: 21px;
}

.maker_log .m_log-content {
    display: flex;
    flex-direction: column;
    min-width: 0px;
    gap: 4px;
}

.m_log-content .user_info {
    display: flex;
    gap: 4px;
    align-items: center;
}

.m_log-content .user_info .user_icon {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: black;
    border: 5px solid rgb(238, 238, 255);
    border-radius: 20px;
}

.m_log-content .user_icon i {
    position: relative;
    top: -6px;
    left: -6px;
    padding: 2px;
    color: rgb(238, 238, 255);
    font-size: 16px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0);
}

.m_log-content .user_info .description {
    display: flex;
    color: black;
    font-size: 13px;
    line-height: 15.6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.description .maker_name {
    margin-right: 2px;
    font-weight: 500;
}

.description .tag {
    margin-left: 2px;
    font-weight: 500;
}

.m_log-content .text-content {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.right-boxes-wrapper .box-community {
    margin-bottom: 24px;
}

.box-community .cmu-header {
    display: flex;
    margin-bottom: 14px;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
}

.box-community .cmu-main {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    align-items: center;
}

.cmu-main a:hover {
    color: rgb(109, 85, 255);
    text-decoration: rgb(109, 85, 255);
    background-color: rgb(246, 246, 248);
}

.cmu-main a {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 6px;
    color: rgb(142, 142, 142);
    font-size: 13px;
    line-height: 19.5px;
    text-decoration: none rgb(142, 142, 142);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 12px;
    transition: all 0.1s ease-out 0s;
    align-items: center;
    justify-content: center;
}

.cmu-main a:hover svg {
    fill: rgb(109, 85, 255);
}

.cmu-main a svg {
    width: 24px;
    height: 24px;
    overflow: hidden;
    transition: all 0.1s ease-out 0s;
    vertical-align: middle;
    fill: rgb(142, 142, 142);
}

.cmu-main a .text {
    width: 100%;
    margin-bottom: 2px;
    margin-left: 8px;
    transition: all 0.1s ease-out 0s;
    white-space: nowrap;
}

.cmu-main a:hover + .speech-bubble {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.cmu-main .speech-bubble {
	position: absolute;
    top: 46px;
    right: 50%;
    z-index: 0;
    padding: 8px 12px;
    color: rgb(255, 255, 255);
    font-size: 11px;
    line-height: 1em;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 0.4em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 20px;
    opacity: 0;
    backdrop-filter: blur(20px);
    white-space: nowrap;
}

.cmu-main .speech-bubble:after {
	position: absolute;
	top: 0;
    left: 50%;
	width: 0;
	height: 0;
	margin-top: -6px;
	margin-left: -6px;
	border: 6px solid transparent;
	content: '';
	border-bottom-color: rgba(0, 0, 0, 0.7);
	border-top: 0;
}

.right-boxes-wrapper .box-install_app {
    margin-bottom: 20px;
}

.box-install_app .app-header {
    display: flex;
    margin-bottom: 14px;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
}

.box-install_app .app-main {
    display: flex;
    flex-direction: column;
    padding: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 14px;
}

.app-main>div:hover {
    color: rgb(109, 85, 255);
    background-color: rgb(246, 246, 248);
}

.app-main>div:hover svg {
    fill: rgb(109, 85, 255);
}

.app-main>div {
    display: flex;
    width: 100%;
    padding: 4px 8px 4px 6px;
    color: rgb(142, 142, 142);
    font-size: 13px;
    line-height: 19.5px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s ease-out;
    align-items: center;
    gap: 4px;
    vertical-align: middle;
}

.app-main>div svg {
    fill: rgb(142, 142, 142);
}

.app-main>div>svg {
    width: 24px;
    height: 24px;
}

.ios-app .description {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.ios-app .description a {
    display: flex;
    position: relative;
    text-decoration: none rgb(142, 142, 142);
    align-items: center;
}

.ios-app .description a:hover .speech-bubble {
    opacity: 1;
}

.ios-app .description a .speech-bubble {
	position: absolute;
    top: -36px;
    right: -12px;
    z-index: 0;
    padding: 8px 12px;
    color: rgb(255, 255, 255);
    font-size: 11px;
    line-height: 1em;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 0.4em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    backdrop-filter: blur(20px);
    white-space: nowrap;
}

/* 
.right-boxes-wrapper .box-tail {
    
} */

.box-tail .quick-goto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.quick-goto .goto-link:hover {
    color: rgb(109, 85, 255);
}

.quick-goto .goto-link {
    margin: 2px;
    color: rgb(142, 142, 142);
    font-size: 12px;
    line-height: 16.8px;
    text-decoration: none rgb(142, 142, 142);
    transition: all 0.1s ease-in;
}

.quick-goto .seperator-dot {
    margin: 0 2px;
    color: rgb(142, 142, 142);
    font-size: 8px;
    line-height: 8px;
}

.box-tail .seperator-line {
    width: 100%;
    height: 1px;
    margin: 8px 0;
    background-color: rgb(234, 234, 236);
}

.box-tail .info-license {
    display: flex;
    flex-direction: column;
    margin-left: -4px;
    font: 12px;
    line-height: 18px;
    gap: 4px;
}

.info-license .info-license-header {
    display: flex;
    color: rgb(142, 142, 142);
    font-size: 12px;
    line-height: 13.2px;
    cursor: pointer;
    align-items: center;
}

.info-license-header i {
    width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
}

.info-license-header.hide i {
    animation: 0.2s ease rotate2 both;
}

.info-license-header.show i {
    animation: 0.2s ease rotate both;
}

.info-license .info-license-main {
    padding-left: 15px;
    color: rgb(142, 142, 142);
    font-size: 12px;
    line-height: 19.2px;
    opacity: 0;
    margin-inline: 8px 4px;
    margin-block: 2px;
}

.info-license .info-license-main .copyright {
    margin-top: 8px;
}

.info-license .info-license-main.show {
    opacity: 1;
    transition: all 0.3s ease-in;
}



/* ~~메인 스타일 */


/* 미디어 쿼리(중간)~~ */

@media only screen and (max-width: 1024px) {
    .quick-menu {
        min-width: min-content;
    }

    .quick-menu .quick-menu-toggle {
        display: block;
    }
    
    .quick-menu .quick-menu-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 56px;
        right: 11.2px;
        right: 11.2px;
        width: 224px;
        padding: 4px;
        background-color: white;
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px;
        transition: all 0.1s ease-out 0s;
    }

    .quick-menu .quick-menu-list.show {     
        display: flex;
    }

    .quick-menu-list .quick-menu-link {
        flex-direction: column;
        width: 100%;
        margin-right: 0;
    }

    .quick-menu-link .label i {
        display: block;
    }

    .quick-menu-link>div {
        margin: 0;
        padding: 6px 8px 6px 8px;
        line-height: 24px;
        border-radius: 12px;
        transition: all 0.1s ease-out 0s;
        border-bottom: none;
        justify-content: flex-start;
    }

    .quick-menu-link>div:hover {
        text-decoration: none;
        background-color: rgb(246, 246, 248);
    }

    .quick-menu-link>div:hover:not(.site-info) {
        color: black;
    }

    .quick-menu-link .site-info:hover {
        color: rgb(112, 112, 112);
    }

    .quick-menu-link .site-info {
        flex-direction: row;
    }

    .quick-menu-list .quick-menu-seperator {
        width: calc(100% - 8px);
        height: 1px;
        margin: 4px 0px;
    }

    .quick-menu-list .quick-menu-button {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 6px;
        margin-top: 6px;
        padding: 4px;
        column-gap: 6px;
        row-gap: 6px;
    }

    .quick-menu-list .quick-menu-button button {
        width: 100%;
        margin: 0;
        border-radius: 12px;
    }

    .main {
        display: flex;
    }

    .left {
        display: none;
    }

    .center .box-trending_product {
        display: flex;
    }

    .right {
        display: none;
    }
}

/* ~~미디어 쿼리(중간) */

@media only screen and (max-width: 770px) {
    .site-logo a .site-logo-large {
        display: none;
    }

    .site-logo a .site-logo-small {
        display: block;
    }

    .center .deny-wrap-wrap {
        display: none;
    }

    .center .inner-content-wrap {
        margin-left: 0;
    }

    .tool-wrap {
        margin-left: 0.75rem !important;
    }
}
/* 미디어 쿼리(모바일)~~ */

@media only screen and (max-width: 640px) {
    .center .center-post {
        display: none;
    }

    .tool-wrap .extend-tool-wrap {
        left: -51px;
        width: 98vw;
    }
}

/* ~~미디어 쿼리(모바일) */

/* 태그 구분자 별 기본 스타일 지정 ~ */
* {
    box-sizing: border-box;
    scrollbar-width: auto;
    scrollbar-color: auto;
}


button:hover {
    background-color: rgb(234, 234, 236);
}

button {
    display: block;
    padding: 12px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 14px;
    text-decoration:  none rgb(0, 0, 0) auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(234, 234, 236);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.1s ease-out 0s;
    align-items: flex-start;
}

@keyframes rotate2 {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0deg);
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}