/* styles.css */

body {
    display: block;
    margin: 0;
    font-family: Arial, sans-serif;
    font-weight: 400;
    line-height: 24px;
    background-color: rgb(245, 245, 247);
    overflow: visible;
    cursor: default;
    font-stretch: 100%;
    tab-size: 4;
    text-size-adjust: 100%;
    touch-action: auto;
}

/* 헤더 스타일 지정~ */

header {
    display: block;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.72);
    box-shadow: rgb(234, 234, 236) 0px 1px 0px 0px;
    border-image-width: 1px;
}

.top {
    display: flex;
    position: relative;
    width: auto;
    max-width: 1280px;
    height: 52px;
    min-height: 48px;
    margin: auto;
    padding: 0 16px;
    justify-content: space-between;
    tab-size: 4;
    text-size-adjust: 100%;
    align-items: center;
}

.top .nav-left {
    display: flex;
    align-items: center;
    width: 100%;
}

.site-logo {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.site-logo a {
    display: flex;
    padding-bottom: 4px;
    align-items: center;
}

.site-logo img {
    max-width: 100%;
    max-height: 28px;
    align-self: center;
    overflow-x: clip;
    overflow-y: clip;
}

.site-logo a .site-logo-large {
    display: block;
    margin-top: 2px;
}

.site-logo a .site-logo-small {
    display: none;
    padding-left: 2px;
}


.search-tool {
    width: 100%;
}

.search-tool .tool-wrap {
    max-width: 192px;
    margin-left: 24px;
}



.quick-menu {
    display: flex;
    min-width: 404.02px;
}

.quick-menu-toggle {
    display: none;
    width: 32px;
    height: 32px;
    margin-left: 4px;
    color: rgb(164, 164, 166);
    font-size: 16px;
    text-align: center;
    border: 0px;
    border-radius: 320px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}



.quick-menu-list {
    display: flex;
    align-items: center;
}

.quick-menu-link {
    display: flex;
    margin-right: 8px;
    font-size: 13px;
    transition: all 0.1 ease-out 0s;
}

.quick-menu-link .label {
    margin-left: 16px;
    padding: 16px 0px 15px 0px;
    color: rgb(112, 112, 112);
    line-height: 14.3px;
    text-decoration: none rgb(112, 112, 112) auto;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    column-gap: 2px;
    row-gap: 2px;
}

.quick-menu-link .label:hover {
    color: rgb(109, 85, 255);
    border-bottom-color: rgb(109, 85, 255);
    text-decoration-color: rgb(109, 85, 255);
}

.site-info {
    cursor: default;
}

.quick-menu .site-info:hover .site-info-list {
    display: flex;
}

.quick-menu .site-info .site-info-list {
    display: none;
    position: absolute;
    top: calc(100%+2px);
    width: fit-content;
    padding: 4px;
    line-height: 20.8px;
    background-color: rgba(255, 255, 255, 0.72);
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 12px 0px;
    transition: all 0.1s ease-out 0s;
    backdrop-filter: saturate(180%) blur(20px) brightness(1.1);
    align-items: flex-start;
    backdrop-filter: saturate(1.8) blur(20px) brigthness(1.1);
    flex-direction: column;
}

.site-info-link:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.site-info-link {
    display: flex;
    width: 100%;
    padding: 6px 8px;
    color: rgb(142, 142, 142);
    line-height: 15.6px;
    text-decoration: none rgb(142, 142, 142) auto;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s ease-out 0s;
    align-items: center;
    /* border-image-width: 1px; */
    column-gap: 2px;
}

.quick-menu-seperator {
    display: block;
    width: 1px;
    height: 16px;
    margin: 0px 1rem;
    background-color: rgb(234, 234, 236);
}

.quick-menu-button {
    display: flex;
    flex-direction: row;
}

.quick-menu-button * {
    font-size: 13px;
}

.login-button {
    margin-left: 8px;
}

.signup-button:hover {
    color: rgb(109, 85, 255);
    background-color: rgba(109, 85, 255, 0);
    box-shadow: rgba(109, 85, 255, 0.4) 0px 0px 0px 3px;
}

.signup-button {
    margin-left: 8px;
    color: white;
    background-color: rgb(109, 85, 255);
    border: 1px solid rgb(109, 85, 255);
}

/* ~~헤더 스타일 지정 */

/* 메인 스타일~~ */

main {
    display: grid;
    position: relative;
    z-index: 0;
    width: auto;
    max-width: 1280px;
    height: auto;
    margin: auto;
    padding: 8px 16px;
    line-height: 24px;
    column-gap: 64px;
    grid-template-columns: 2.5fr 7fr 3fr;
}



.left {
    display: block;
    position: relative;
    height: 100%;
}

.left-menu {
    display: flex;
    position: sticky;
    margin-top: 32px;
    margin-bottom: 24px;
    transition: 0.1s all ease-out 0s;
    column-gap: 32px;
    flex-direction: column;
    row-gap: 32px;
}

.left-menu-out {
    display: flex;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    align-items: center;
    flex-direction: column;
}

.left-menu-in {
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255);
    column-gap: 8px;
    flex-direction: column;
    row-gap: 8px;
}

.left-menu-toggle {
    display: flex;
    font-size: 13px;
    cursor: pointer;
    align-items: center;
    column-gap: 4px;
    column-gap: 4px;
    row-gap: 4px;
}

.left-menu-toggle i {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}

.left-menu-shutter {
    display: flex;
    position: relative;
    width: 100%;
    opacity: 1;
    transform-origin: 104px 0px;
}

.left-menu.show .left-menu-shutter {
    display: none;
}

.left-menu-list-cover {
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 8px;
    align-items: center;
    flex-direction: column;
}

.left-menu-list {
    display: flex;
    position: relative;
    left: 4px;
    width: calc(100% + 8px);
    height: 100%;
    max-height: 400px;
    transition: 0.3s all ease-in-out 0s;
    column-gap: 2px;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: visible;
    row-gap: 2px;
}

.left-menu-list:hover::-webkit-scrollbar-thumb {
    background-color: rgb(234, 234, 236);
}

.left-menu-list::-webkit-scrollbar {
    width: 6px;
    height: 0px;
    background-color: transparent;
}

.left-menu-list::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
    border-radius: 8px;
}

.left-menu-list::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 8px;
}

.left-menu-list .topic:hover {
    background-color: rgb(245, 245, 247);
}

.topic {
    display: flex;
    position: relative;
    width: calc(100% - 2px);
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    color: rgb(68, 68, 68);
    font-size: 12px;
    line-height: 12px;
    letter-spacing: normal;
    text-align: left;
    background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 10px;
    align-items: flex-start;
    column-gap: 8px;
    row-gap: 8px;
}

.left-menu-list .overlay {
    display: block;
    position: absolute;
    bottom: -4px;
    width: 100%;
    height: 14px;
    background-attachment: scroll;
}



.center {
    display: block;
    position: relative;
    min-width: 478px;
    margin-top: 32px;
}

.center-post {
    display: flex;
    position: relative;
    margin-bottom: 24px;
    flex-direction: column;
    gap: 6px;
}

.center-post .post-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
}

.center-post .user-icon {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 1px;
    background-color: black;
    border: 10px solid rgb(238, 238, 255);
    border-radius: 20px;
}

.center-post .user-icon .fa-face-smile {
    position: relative;
    top: -12px;
    left: -11px;
    padding: 6px;
    color: rgb(238, 238, 255);
    font-size: 28px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0);
}

.center-post .open-post {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 4px;
    color: rgb(142, 142, 142);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    transition: 0.15s all ease-in-out 0s;
    align-items: center;
}

.center-post .open-post:hover {
    background-color: white;
    border-color: rgb(109, 85, 255);
    box-shadow: rgba(109, 85, 255, 0.4) 0px 0px 0px 3px;
}

.center-post .open-post i {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    line-height: 24px;
}

.center-post .open-post label {
    font-size: 13px;
}

.center-post .open-post * {
    cursor: pointer;
}

.center-post .share {
    position: relative;
    top: -4px;
    left: 52px;
    width: fit-content;
    padding: 4px 8px 4px 4px;
    color: rgb(142, 142, 142);
    font-size: 12px;
    border: 0px;
    border-radius: 8px;
}

.center-post .share i {
    margin-right: 2px;
    font-size: 12px;
    line-height: 16px;
}

.center-post .share:hover {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 8px 0px;
    transform: matrix(1, 0, 0, 1, 0, -1);
}


.center-tab {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
}

.center-tab .tab-wrap {
    display: flex;
    justify-content: space-between;
}

.center-tab .tab-wrap .category {
    display: flex;
    gap: 24px;
}

.center-tab .tab-wrap .category label {
    padding: 12px 0px 10px 0px;
    box-sizing: content-box;
    color: rgb(142, 142, 142);
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.center-tab .tab-wrap .category label:hover {
    z-index: 1;
    color: rgb(109, 85, 255);
    border-bottom-color: rgb(109, 85, 255);
}

.center-tab .tab-wrap .sort {
    display: flex;
}

.center-tab .sort button {
    padding: 0;
    background-color: transparent;
    border: 0px;
}

.center-tab .sort button label {
    padding: 4px 6px 4px 6px;
    color: rgb(142, 142, 142);
    font-size: 12px;
    line-height: 13.2px;
    border-radius: 6px;
    cursor: pointer;
}

.center-tab .sort button label:hover {
    background-color: white;
}

.center-tab .seperator {
    position: relative;
    bottom: 1px;
    z-index: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(234, 234, 236);
}

.center-content {
    display: block;
}

.content-post {
    height: 400px;
}



.right {
    display: block;
    min-width: 246px;
    height: 100%;
    margin-top: 32px;
}

.right .section-1 {
    display: block;
}

.right .section-2 {
    display: block;
    position: sticky;
    top: 88px;
}

.right .content-box {
    width: 100%;
    height: 150px;
    margin-top: 28px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
}


/* ~~메인 스타일 */


/* 미디어 쿼리(중간)~~ */

@media only screen and (max-width: 1024px) {
    .quick-menu {
        min-width: min-content;
    }

    .quick-menu-toggle {
        display: block;
    }
    
    .quick-menu-list {
        display: none;
    }

    .quick-menu-list.show {
        display: block;
        position: absolute;
        top: calc(100% + 5px);
        right: 11.2px;
        width: 224px;
        padding: 4px;
        background-color: white;
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px;
    }

    .quick-menu-list.show .quick-menu-link {
        display: block;
    }

    .quick-menu-list.show .quick-menu-link .label {
        height: auto;
        margin: 0;
        padding: 6px 8px 6px 8px;
        line-height: 24px;
        border-radius: 12px;
        border-bottom: none;
    }

    .quick-menu-list.show .quick-menu-link .label:hover {
        text-decoration: none;
        background-color: rgb(246, 246, 248);
    }

    .quick-menu-list.show .quick-menu-seperator {
        width: calc(100% - 8px);
        height: 1px;
        margin: 4px 0px;
    }

    .quick-menu-list.show .quick-menu-button {
        display: flex;
        width: 100%;
        margin-top: 6px;
        margin-top: 6px;
        padding: 4px;
        flex-direction: column;
        column-gap: 6px;
        row-gap: 6px;
    }

    .quick-menu-list.show .quick-menu-button button {
        width: 100%;
        margin: 0;
        border-radius: 12px;
    }

    .left {
        display: none;
    }

    .right {
        display: none;
    }
}

/* ~~미디어 쿼리(중간) */



/* 미디어 쿼리(모바일)~~ */

@media only screen and (max-width: 600px) {
    .site-logo a .site-logo-large {
        display: none;
    }

    .site-logo a .site-logo-small {
        display: block;
    }
}

/* ~~미디어 쿼리(모바일) */

/* 태그 구분자 별 기본 스타일 지정 ~ */
* {
    box-sizing: border-box;
    scrollbar-width: auto;
    scrollbar-color: auto;
}


button:hover {
    background-color: rgb(234, 234, 236);
}

button {
    display: block;
    padding: 12px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 14px;
    text-decoration:  none rgb(0, 0, 0) auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(234, 234, 236);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.1s ease-out 0s;
    align-items: flex-start;
}