/* styles.css */

body {
    display: block;
    font-family: Arial, sans-serif;
    font-stretch: 100%;
    font-weight: 400;
    line-height: 24px;
    tab-size: 4;
    text-size-adjust: 100%;
    overflow: visible;
    touch-action: auto;
    margin: 0;
    background-color: rgb(245, 245, 247);
    cursor: default;
}

/* 헤더 스타일 지정~ */

header {
    background-color: rgba(255, 255, 255, 0.72);
    border-image-width: 1px;
    box-shadow: rgb(234, 234, 236) 0px 1px 0px 0px;
    display: block;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

.top * {
    align-items: center;
}

.top {
    display: flex;
    height: 52px;
    justify-content: space-between;
    line-height: 14px;
    margin: auto;
    max-width: 1280px;
    padding: 0 16px;
    position: relative;
    tab-size: 4;
    text-size-adjust: 100%;
}

.nav-left {
    display: flex;
}

.site-logo img {
    height: 40px;
}
/* 
.search-bar {
} */



.quick-menu {
    display: flex;
}

.quick-menu-toggle {
    display: none;
}

.quick-menu-list {
    display: flex;
}

.quick-menu-link {
    display: flex;
    box-sizing: border-box;
    font-size: 13px;
    margin-right: 8px;
    transition: all 0.1 ease-out 0s;
}

.quick-menu-link .label {
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    color: rgb(112, 112, 112);
    column-gap: 2px;
    line-height: 14.3px;
    margin-left: 16px;
    padding: 16px 0px 15px 0px;
    row-gap: 2px;
    text-decoration: none rgb(112, 112, 112) auto;
}

.quick-menu-link .label:hover {
    border-bottom-color: rgb(109, 85, 255);
    text-decoration-color: rgb(109, 85, 255) ;

}

.site-info {
    cursor: default;
}

.quick-menu .site-info:hover .site-info-list {
    display: flex;
}

.quick-menu .site-info-list {
    align-items: flex-start;
    backdrop-filter: saturate(1.8) blur(20px) brigthness(1.1);
    background-color: rgba(255, 255, 255, 0.72);
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 12px 0px;
    display: none;
    flex-direction: column;
    width: 100%;
    line-height: 20.8px;
    padding: 4px;
    position: absolute;
    top: calc(100%+2px);
    transition: all 0.1s ease-out 0s;
    width: fit-content;
}

.site-info-link:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.site-info-link {
    align-items: center;
    border-radius: 8px;
    border-image-width: 1px;
    color: rgb(142, 142, 142);
    column-gap: 2px;
    cursor: pointer;
    display: flex;
    width: 100%;
    line-height: 15.6px;
    padding: 6px 8px;
    text-decoration: none rgb(142, 142, 142) auto;
    transition: all 0.1s ease-out 0s;
}

.quick-menu-seperator {
    width: 1px;
    height: 16px;
    margin: 0px 1rem;
    display: block;
    background-color: rgb(234, 234, 236);
}

.quick-menu-button {
    display: flex;
    flex-direction: row;
}

.login-button {
    margin-left: 8px;
}

.signup-button:hover {
    background-color: rgba(109, 85, 255, 0);
    color: rgb(109, 85, 255);
    box-shadow: rgba(109, 85, 255, 0.4) 0px 0px 0px 3px;
}

.signup-button {
    background-color: rgb(109, 85, 255);
    border: 1px solid rgb(109, 85, 255);
    color: white;
    margin-left: 8px;
}

/* ~~헤더 스타일 지정 */

/* 메인 스타일~~ */

main {
    column-gap: 64px;
    display: grid;
    grid-template-columns: 2.5fr 7fr 3fr;
    height: auto;
    line-height: 24px;
    margin: auto;
    max-width: 1280px;
    padding: 8px 16px;
    position: relative;
    width: auto;
    z-index: 0;
}



.left {
    display: block;
    height: 100%;
    min-width: 176px; /* 화면 너비에 따라 너비 변화해야 함. 최소가 176*/
    position: relative;
}

.left-menu {
    column-gap: 32px;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-bottom: 24px;
    position: sticky;
    row-gap: 32px;
}

.left-menu-out {
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.left-menu-in {
    background-color: rgb(255, 255, 255);
    column-gap: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 100%;
}

.left-menu-toggle {
    align-items: center;
    column-gap: 4px;
    display: flex;
    column-gap: 4px;
    row-gap: 4px;
}

.left-menu-shutter {
    display: flex;
    opacity: 1;
    position: relative;
    transform-origin: 104px 0px;
    width: 100%;
}

.left-menu-list-cover {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    width: 100%;
    position: relative;
}

.left-menu-list {
    column-gap: 2px;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 4px;
    max-height: 400px;
    overflow-x: auto;
    overflow-y: visible;
    position: relative;
    row-gap: 2px;
    width: calc(100% + 8px);
}

.left-menu-list:hover::-webkit-scrollbar-thumb {
    background-color: rgb(234, 234, 236);
}

.left-menu-list::-webkit-scrollbar {
    width: 6px;
    height: 0px;
    background-color: transparent;
}

.left-menu-list::-webkit-scrollbar-thumb:hover {
    border-radius: 8px;
    background-color: transparent;
}

.left-menu-list::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: transparent;
}

.left-menu-list .topic:hover {
    background-color: rgb(245, 245, 247);
}

.topic {
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 10px;
    column-gap: 8px;
    display: flex;
    font-size: 12px;
    letter-spacing: normal;
    line-height: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 10px;
    position: relative;
    row-gap: 8px;
    text-align: left;
    width: calc(100% - 2px);
}

.left-menu-list .overlay {
    background-attachment: scroll;
    bottom: -4px;
    display: block;
    height: 14px;
    position: absolute;
    width: 100%;
}



.center {
    display: block;
    margin-top: 32px;
    min-width: 478px;
    position: relative;
}

.center-post {
    display: flex;
    flex-direction: column;
}

.center-tab {
    display: flex;
    flex-direction: column;
}

.center-content {
    display: block;
}

.content-post {
    height: 400px;
}



.right {
    display: block;
    margin-top: 32px;
    min-width: 246px;

}

.right .right-box {
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    width: 100%;
    height: 100%;
    margin-top: 28px;
}


/* ~~메인 스타일 */




/* 태그 구분자 별 기본 스타일 지정 ~ */
* {
    box-sizing: border-box;
    scrollbar-width: auto;
    scrollbar-color: auto;
}


button:hover {
    background-color: rgb(234, 234, 236);
}

button {
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(234, 234, 236);
    border-radius: 20px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: block;
    font-size: 14px;
    line-height: 14px;
    padding: 12px;
    text-decoration:  none rgb(0, 0, 0) auto;
    transition: all 0.1s ease-out 0s;
}